.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--gutter);
}

.default {
  max-width: calc(var(--container-max) + var(--gutter) * 2);
}

.wide {
  max-width: calc(var(--container-wide) + var(--gutter) * 2);
}

.narrow {
  max-width: calc(var(--container-narrow) + var(--gutter) * 2);
}
